# Аналіз набору даних із обʼєктами нерухомості у місті Київ

Для тренування моделі було обрано набір даних обʼєктів нерухомості з сайту Kaggle по 2022 рік

Для аналізу набору даних використовується бібліотека pandas

**Словник:**

Характеристики обʼєкту (англ. Features) - характеристики з яких будуть обрані залежні та незалежні змінні для тренування моделі для знаходження залежності незалежних змінних від залежних.

**Предметна Область:**

Залежні змінні/ Незалежні змінні

In [35]:
import pandas as pd
pd.set_option('display.max_columns', 100)

In [16]:
df = pd.read_csv('./flats.csv')
df.shape

(14066, 20)

## Приклад обʼєктів з набору даних

In [37]:
df.head(3)

,id,price,price_sm,address,complex,hist_district,admin_district,city,description,rooms,area_total,area_living,area_kitchen,stock,stock_total,year,project,wall,currency,bad_proposal
0,377514444,1865470,23327,вул. Радченка,"ЖК вул. Петра Радченка, 27-29",Солом'янка,Солом'янський,Київ,БЕЗ КОМИССИИ!!! Видовая 3К квартира в новостро...,3,79.97,43.09,12.68,5,25.0,NaN,NaN,монолітно-каркасний,UAH,0
1,381003995,90000,732,"вул. Бориспільська, 34",NaN,Нова Дарниця,Дарницький,Київ,Продается 5- комн квартира ул Бориспольськая 3...,5,123.00,71.20,16.60,3,16.0,1989.0,серія КТ,утеплена панель,USD,0
2,379779512,330000,3000,"Лабораторний пров., 7",ЖК Alter Ego,Черепанова гора,Печерський,Київ,"БЕЗ КОМИССИИ для покупателя, предложение от со...",3,110.00,60.00,40.00,18,24.0,2018.0,спец. проект,монолітно-каркасний,USD,0

## Серія всіх характеристик обʼєкту нерухомості

In [39]:
df.columns

Index(['id', 'price', 'price_sm', 'address', 'complex', 'hist_district',
       'admin_district', 'city', 'description', 'rooms', 'area_total',
       'area_living', 'area_kitchen', 'stock', 'stock_total', 'year',
       'project', 'wall', 'currency', 'bad_proposal'],
      dtype='object')

## Типи даних у наборі даних

In [41]:
df.dtypes

id                  int64
price               int64
price_sm            int64
address            object
complex            object
hist_district      object
admin_district     object
city               object
description        object
rooms               int64
area_total        float64
area_living       float64
area_kitchen      float64
stock               int64
stock_total       float64
year              float64
project            object
wall               object
currency           object
bad_proposal        int64
dtype: object

## Приведення всіх цін до UAH

## Фільтрація обʼєктів із пустими колонками що є важливими для тренування

## Опис набору даних

In [43]:
df.describe()

,id,price,price_sm,rooms,area_total,area_living,area_kitchen,stock,stock_total,year,bad_proposal
count,1.406600e+04,1.406600e+04,14066.000000,14066.000000,14066.000000,11443.000000,12171.000000,14066.000000,13861.000000,12815.000000,14066.000000
mean,3.782737e+08,2.832450e+05,2793.730627,2.365989,85.486388,44.149313,15.588783,9.430684,16.998846,1998.824112,0.107707
std,6.053666e+06,1.275563e+06,7939.544947,1.134468,58.406175,32.397609,10.128905,6.841130,7.993603,25.669891,0.310020
min,3.475628e+07,1.750000e+04,125.000000,1.000000,13.000000,0.010000,1.000000,1.000000,1.000000,1857.000000,0.000000
25%,3.776323e+08,6.700000e+04,1131.000000,1.000000,51.000000,23.600000,9.000000,4.000000,9.000000,1987.000000,0.000000
50%,3.799594e+08,1.040000e+05,1518.000000,2.000000,71.000000,38.000000,13.000000,8.000000,16.000000,2010.000000,0.000000
75%,3.807864e+08,1.974500e+05,2258.750000,3.000000,98.000000,53.000000,18.950000,14.000000,25.000000,2017.000000,0.000000
max,3.811202e+08,8.370000e+07,341633.000000,18.000000,1000.000000,450.000000,215.000000,117.000000,55.000000,2022.000000,1.000000